/*
 *  Personal Food Database
 *  Copyright (C) 2022, 2023  Josh Mossman
 *
 *  This file is part of Personal Food Database.
 *
 *  Personal Food Database is free software: you can redistribute it and/or modify it under the terms
 *  of the GNU General Public License as published by the Free Software Foundation, either version 3
 *  of the License, or (at your option) any later version.
 *
 *  Personal Food Database is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along with Personal Food Database.
 *  If not, see <https://www.gnu.org/licenses/>.
 */

/* Overriding styles for CalendarFX */

/************************************
 *
 *          BUILT IN STYLES
 *
 ************************************/
.style1-icon, .style1-icon-small {
    -fx-fill: pfd-midtone-color;
    -fx-stroke: pfd-midtone-color;
}

.style1-entry {
    -fx-background-color: derive(pfd-midtone-color, 70.0%);
    -fx-border-color: pfd-midtone-color;
}

.style1-entry:selected {
    -fx-background-color: pfd-midtone-color;
}

.style1-entry-time-label, .style1-entry-title-label {
    -fx-text-fill: derive(pfd-midtone-color, -30.0%);
}

.style1-entry-small:selected {
    -fx-background-color: pfd-midtone-color;
}

.style1-entry-small-full-day {
    -fx-background-color: derive(pfd-midtone-color, 70.0%);
}

.style1-entry-small-title-label-full-day {
    -fx-text-fill: derive(pfd-midtone-color, -30.0%);
}

.style1-entry-small-full-day:selected {
    -fx-background-color: pfd-midtone-color;
}

.style1-visibility-checkbox > .box,
.style1-source-grid-item-box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
    -fx-inner-border, derive(pfd-midtone-color, 70.0%);
}

.style1-visibility-checkbox:focused > .box {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color,
    -fx-faint-focus-color, derive(pfd-midtone-color, 70.0%);
}

.style1-entry-popover-title {
    -fx-text-fill: derive(pfd-midtone-color, -50.0%) !important;
}

.style1-calendar-header {
    -fx-background-color: derive(pfd-midtone-color, 70.0%);
}


/************************************
 *
 *    DAY BACKGROUNDS AND BORDERS
 *
 ************************************/
.calendar-page {
    -fx-background-color: derive(pfd-shadow-color, 30%);
}

.month-view > .container > .day:selected {
    -fx-background-color: pfd-accent-two-color;
}

.month-view > .container > .current-week {
    -fx-border-color: derive(pfd-accent-two-color, 50%) transparent transparent transparent;
}

.month-view > .container > .today {
    -fx-background-color: derive(pfd-accent-two-color, 50%);
    -fx-border-color: derive(pfd-accent-two-color, -20%) transparent transparent transparent;
}

.month-view > .container > .weekend-day {
    -fx-background-color: derive(pfd-shadow-color, 50%);
}


/************************************
 *
 *         LABELS TEXT COLOR
 *
 ************************************/
.calendar-page > .container > .header > .date-text {
    -fx-text-fill: pink;
}

.month-view > .container > .day > .header > .day-of-month-label {
    -fx-text-fill: white;
}

.month-view > .container > .day > .header > .day-not-of-month-label {
    -fx-text-fill: derive(white, -50%);
}

.month-view > .container > .day > .header > .current-week-of-year-label {
    -fx-text-fill: pfd-shadow-color;
}

.month-view > .container > .day-of-week-label
{
    -fx-text-fill: derive(gray, 40%);
}

.month-view > .container > .day > .header > .today-label {
    -fx-text-fill: pfd-shadow-color;
}

/************************************
 *
 *         BUTTON BACKGROUNDS
 *
 ************************************/
.calendar-page > .container > .header > .navigation-button-bar {
    -fx-background-color: pink;
}

.calendar-page > .container > .header > .navigation-button-bar > .container > .previous-date-button {
    -fx-background-color: pfd-midtone-color;
}

.calendar-page > .container > .header > .navigation-button-bar > .container > .next-date-button {
    -fx-background-color: pfd-midtone-color;
}

