/*
 *  Personal Food Database
 *  Copyright (C) 2022, 2023  Josh Mossman
 *
 *  This file is part of Personal Food Database.
 *
 *  Personal Food Database is free software: you can redistribute it and/or modify it under the terms
 *  of the GNU General Public License as published by the Free Software Foundation, either version 3
 *  of the License, or (at your option) any later version.
 *
 *  Personal Food Database is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along with Personal Food Database.
 *  If not, see <https://www.gnu.org/licenses/>.
 */

/* Overriding styles for ControlsFx */
.notification-pane .notification-bar > .pane{
    -fx-background-color: pfd-midtone-color;
    -fx-text-fill: inherit;
}

.notification-pane .notification-bar > .pane .label {
    -fx-text-fill: inherit;
}

.notification-pane .notification-bar > .pane .close-button > .graphic {
    -fx-background-color: white;
}

.auto-complete-popup
{
    /*
     * See the below link for the default styling
     * https://github.com/controlsfx/controlsfx/blob/jfx-13/controlsfx/src/main/resources/org/controlsfx/control/textfield/autocompletion.css
     */
    -fx-color: pfd-shadow-color;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-selection-bar: derive(white, -50%);
    -fx-selection-bar-non-focused: derive(white, -75%);

    -fx-inner-border: white;

    -fx-control-inner-background: pfd-shadow-color;
    -fx-control-inner-background-alt: derive(pfd-shadow-color, 30%);
}