/*
 *  Personal Food Database
 *  Copyright (C) 2022, 2023  Josh Mossman
 *
 *  This file is part of Personal Food Database.
 *
 *  Personal Food Database is free software: you can redistribute it and/or modify it under the terms
 *  of the GNU General Public License as published by the Free Software Foundation, either version 3
 *  of the License, or (at your option) any later version.
 *
 *  Personal Food Database is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along with Personal Food Database.
 *  If not, see <https://www.gnu.org/licenses/>.
 */

/*
 * Declaring of font-awesome font faces
*/
@font-face {
    font-family: "font-awesome-solid";
    src: url('../fonts/Font-Awesome-Five-Free-Solid-900.otf') format('opentype');
}

@font-face {
    font-family: "font-awesome-regular";
    src: url('../fonts/Font-Awesome-Five-Free-Regular-400.otf') format('opentype');
}

@font-face {
    font-family: "font-awesome-brands-regular";
    src: url('../fonts/Font-Awesome-Five-Brands-Regular-400.otf') format('opentype');
}


/*
 * CSS styles for allowing use of font-awesome icons in the application.
 * These styles are modeled after the standard css classes provided by
 * font-awesome that are used on the web.
 *
 * The font-family attribute is ignored and you must use the actual name of
 * the font.
 * See: https://guigarage.com/2014/10/integrate-custom-fonts-javafx-application-using-css/
 */
.fas{
    -fx-font-family: "Font Awesome 5 Free Solid"
}

.far{
    -fx-font-family: "Font Awesome 5 Free Regular"
}

.fab{
    -fx-font-family: "Font Awesome 5 Brands Regular"
}

/*
 * CSS styles for using specific icons by specifying their unicode value.
 *
 * As should be obvious this is not a comprehensive listing of the available
 * icons but rather contains only the icons that are actually used in the
 * application.
 *
 * These are also modeled after the standard font-awesome classes and follow the format:
 * fa-<iconName>: icon-unicode-value
 */
