/*
 *  Personal Food Database
 *  Copyright (C) 2022, 2023  Josh Mossman
 *
 *  This file is part of Personal Food Database.
 *
 *  Personal Food Database is free software: you can redistribute it and/or modify it under the terms
 *  of the GNU General Public License as published by the Free Software Foundation, either version 3
 *  of the License, or (at your option) any later version.
 *
 *  Personal Food Database is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 *  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along with Personal Food Database.
 *  If not, see <https://www.gnu.org/licenses/>.
 */

@import "fonts.css";
@import "controlsfx-overrides.css";
@import "calendarfx-overrides.css";

/*
 * Overriding styles that apply to standard JavaFx controls
 *
 * With the exception of the looked up colors (theme colors) these are mostly discovered by reading
 * through modena.css file that comes bundled with JavaFx.
 *
 * The file can be located by looking in the jar located in the org.openjfx.javafx-controls.13 library
 * (listed under maven dependencies) in the javafx-controls-13-win.jar
 *
 * The modena.css file can be found in the com.sun.javafx.scene.control.skin.modena package.
 *
 * The comments provided in the actual modena css file are vastly superior to those provided by the documentation
 * so reading through the comments and then looking for how specific things are styled to answer specific
 * questions is a substantially better use of time than reading the official docs.
*/

.root {
    pfd-shadow-color: #2b2d2aff;
    pfd-midtone-color: #667a60ff;
    pfd-highlight-color: #b4c172ff;
    pfd-accent-one-color: #97c1ccff;
    pfd-accent-two-color: #8f6c5eff;

    -fx-background: pfd-shadow-color;

    -fx-text-base-color: white;
    -fx-text-inner-color: white;
    -fx-selection-bar-text: white;
    -fx-text-background-color: white;

    -fx-focus-color: pfd-shadow-color;
    -fx-faint-focus-color: pfd-shadow-color;
}

.hyperlink{
    -fx-border-width: 0;
    -fx-font-style: normal;
}

.hyperlink:hover {
    -fx-underline: false;
}

.hyperlink:visited {
    -fx-underline: false;
}

.titled-pane
{
    -fx-text-base-color: pfd-shadow-color;
}

.text-field{
    -fx-background-color: derive(pfd-shadow-color, 30%);
}

.text-area{
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: derive(pfd-shadow-color, 30%);
}

.text-area .content{
    -fx-background-color: derive(pfd-shadow-color, 30%);
}

.tab-pane{
    -fx-focus-color: pfd-midtone-color;
    -fx-faint-focus-color: pfd-midtone-color;
}

/* Default unselected tab color */
.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: pfd-shadow-color;
}

/* Default selected tab color */
.tab-pane > .tab-header-area > .headers-region > .tab:selected{
    -fx-background-color: derive(pfd-shadow-color, 30%);
}

.table-view, .list-view, .choice-box{
    /* Base color overrides ( used by JavaFx for control theming throughout the control ) */
    -fx-color: pfd-shadow-color;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-selection-bar: derive(white, -50%);
    -fx-selection-bar-non-focused: derive(white, -75%);

    -fx-inner-border: white;

    -fx-control-inner-background: pfd-shadow-color;
    -fx-control-inner-background-alt: derive(pfd-shadow-color, 30%);

    /* Remove the border around the outside of the table - THIS MIGHT MESS WITH SCROLL BAR */
    -fx-background-insets: 0;
}

/* "Hide" empty rows by making them blend in with the background */
.table-row-cell:empty {
    -fx-background-color: pfd-shadow-color;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.context-menu
{
    -fx-color: pfd-shadow-color;

    /* Do away with focus colors and set a slight white highlight
       on the currently hovered menu item instead of the usual blue */
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-selection-bar: derive(white, -50%);
    -fx-selection-bar-non-focused: derive(white, -75%);

    /* Base color for the control */
    -fx-control-inner-background: pfd-shadow-color;
    -fx-control-inner-background-alt: derive(pfd-shadow-color, 30%);
}

.context-menu .text-input-context-menu .button {
    -fx-text-fill: white;
}

.check-box
{
    /* Base color overrides ( used by JavaFx for control theming throughout the control ) */
    -fx-color: pfd-shadow-color;
    -fx-control-inner-background: pfd-shadow-color;
    -fx-control-inner-background-alt: derive(pfd-shadow-color, 30%);

    /* Make sure the border of the check-box is always white regardless of state */
    -fx-accent: white;
    -fx-hover-base: white;
    -fx-focus-color: white;
    -fx-outer-border: white;
    -fx-inner-border: white;
    -fx-pressed-base: white;
    -fx-faint-focus-color: white;
    -fx-mark-highlight-color: white;
}

.combo-box
{
    /* Base color overrides ( used by JavaFx for control theming throughout the control ) */
    -fx-color: pfd-shadow-color;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-selection-bar: derive(white, -50%);
    -fx-selection-bar-non-focused: derive(white, -75%);

    -fx-inner-border: white;

    -fx-control-inner-background: pfd-shadow-color;
    -fx-control-inner-background-alt: derive(pfd-shadow-color, 30%);
}

/*
    Needed for the label of the choice-box that shows the currently selected option
    before it has been opened.
*/
.choice-box > .label {
    -fx-text-base-color: white;
}

/*
    Needed for the arrow of the choice-box that shows to the right of the label
    before it has been opened
*/
.choice-box > .open-button > .arrow {
    -fx-background-color: white;
}

/*
    Needed for the labels for each possible option once the choice-box has been
    opened
*/
.choice-box:showing {
    -fx-text-base-color: white;
}

.progress-bar{
    -fx-accent: pfd-shadow-color; /*Color of the indicator that moves across the progress bar*/
    -fx-control-inner-background: pfd-accent-two-color; /*Color of the background of the progress bar*/
    -fx-text-box-border: pfd-accent-two-color; /*Color of the border of the progress bar*/
    -fx-shadow-highlight-color: pfd-accent-two-color; /*Color of the drop shadow on the bottom of the progress bar*/
}

.date-picker-popup
{
    -fx-base: pfd-accent-two-color;
    -fx-text-background-color: pfd-shadow-color;

    -fx-selection-bar: pfd-shadow-color;
    -fx-selection-bar-non-focused: derive(pfd-shadow-color, 30%);
}

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month
{
    -fx-background: derive(-fx-control-inner-background, -10%);
}

.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected,
.date-picker-popup > * > .previous-month.selected,
.date-picker-popup > * > .next-month.selected
{
    -fx-text-background-color: white;
}

.date-picker-popup > * > .day-cell:focused:hover,
.date-picker-popup > * > .today:focused:hover,
.date-picker-popup > * > .selected:focused,
.date-picker-popup > * > .today.selected:focused
{
    -fx-text-background-color: white;
}

/*
These styles were almost working. They styled the scroll pane scrollbars (mostly) correctly
but were giving two different colors for the horizontal and vertical scrollbars in a table.

Just going to leave this here in the event we feel like giving it another go at some point
but for now it simply isn't worth the time or effort to fight with it any further.

.scroll-bar
{
    -fx-base: pfd-shadow-color;
    -fx-mark-color: pfd-shadow-color;
    -fx-body-color: pfd-midtone-color;
}

.scroll-bar > .thumb
{
    -fx-color: derive(pfd-accent-two-color, 30%);
}

.scroll-bar > .increment-arrow,
.scroll-bar > .decrement-arrow
{
    -fx-base: derive(pfd-accent-two-color, 30%);
}
 */


/*
 * Styling for all buttons to reduce the number of places we need to apply
 * the "clickable" class. All buttons are clickable and should behave this
 * way anyways.
*/
.button{
    -fx-cursor: hand;
}

.button:disabled
{
    -fx-cursor: default;
}

/*
 * Custom CSS classes.
 *
 * With the exception of classes which are specific and only used once
 * (like all of the navigation styles) these should all have equivalent
 * constants in CssConstants for easy use across the application
 */

.background-shadow-light
{
    -fx-background-color: derive(pfd-shadow-color, 30%);
}

.navigation-bar
{
    -fx-background-color: pfd-accent-two-color;
}

.left-hand-navigation
{
    -fx-padding: 83 0 0 0;
    -fx-font-size: 20px;
    -fx-cell-size: 40px;
    -fx-font-weight: bold;
    -fx-text-background-color: pfd-highlight-color;

    -fx-background-insets: 0;

    -fx-control-inner-background: pfd-accent-two-color;
    /*Use the same color for alternating rows, ensuring all rows are the same color*/
    -fx-control-inner-background-alt: pfd-accent-two-color;

    /*We need both selection and selection non-focused here so the color stays the same when the window loses focus*/
    -fx-selection-bar: pfd-shadow-color;
    -fx-selection-bar-non-focused: pfd-shadow-color;

    /*Hide the thin border that will appear around the selected item*/
    -fx-cell-focus-inner-border: pfd-shadow-color;
}

.hide-border{
    -fx-border-color: pfd-shadow-color;
}

.white-border{
    -fx-border-color: white;
}

.muted-border{
    -fx-border-color: derive(white, -50%);
}

.secondary-accent-border{
    -fx-border-width: 3px;
    -fx-border-color: pfd-accent-two-color;
}

/* GENERAL STYLING */
.bold
{
    -fx-font-weight: bold;
}

.underline
{
    -fx-underline: true;
}

.italicize
{
    -fx-font-style: italic;
}

.required
{
    -fx-border-color: red;
    -fx-border-width: 1px;
}

.error-text
{
    -fx-text-base-color: red;
    -fx-text-background-color: red;
}

.table-cell-text-center-right
{
    -fx-alignment: CENTER-RIGHT;
}

/* SCREEN NODE CONTAINER AND HEADER STYLES */
.headline-text{
    /*-fx-font-size: 22px;*/
    -fx-font-size: 50px;
}

.sub-header-text{
    -fx-font-size: 24px;
}

.muted-text{
    -fx-text-base-color: derive(white, -25%);
    -fx-text-background-color: derive(white, -25%);
}

.screen-container-node {
    -fx-padding: 12 20 12 20;
}

/* BUTTON AND TEXT ACTION STYLES */
.clickable{
    -fx-cursor: hand;
}

.btn{
    -fx-font-weight: bold;
    -fx-text-base-color: pfd-shadow-color;
    -fx-text-background-color: pfd-shadow-color;
}

/* Labels within buttons are font-awesome icons which need to be the same color as the button text */
.btn > .label{
    -fx-text-base-color: pfd-shadow-color;
    -fx-text-background-color: pfd-shadow-color;
}

/* Primary Action Buttons */
.btn-primary-action {
    -fx-background-color: pfd-accent-one-color;
}

.btn-primary-action:hover {
    -fx-background-color: derive(pfd-accent-one-color, -25%);
}

.btn-primary-action:disabled {
    -fx-cursor: default;
    -fx-background-color: derive(pfd-accent-one-color, -50%);
}

/* Secondary Action Buttons */
.btn-secondary-action{
    -fx-background-color: pfd-highlight-color;
}

.btn-secondary-action:hover{
    -fx-background-color: derive(pfd-highlight-color, -25%);
}

.btn-secondary-action:disabled {
    -fx-cursor: default;
    -fx-background-color: derive(pfd-highlight-color, -50%);
}

/*
 * Tertiary Action Buttons
 *
 * The tertiary buttons get lighter colors because they already have
 * the least contrast with the background. So darkening them as much
 * as the buttons with stronger contrast will hurt their visibility.
*/
.btn-tertiary-action{
    -fx-background-color: pfd-midtone-color;
}

.btn-tertiary-action:hover {
    -fx-background-color: derive(pfd-midtone-color, -20%);
}

.btn-tertiary-action:disabled {
    -fx-cursor: default;
    -fx-background-color: derive(pfd-midtone-color, -30%);
}

/* Danger Action Buttons */
.btn-danger-action{
    -fx-background-color: derive(red, -25%);
}

.btn-danger-action:hover {
    -fx-background-color: derive(red, -50%);
}

.btn-danger-action:disabled {
    -fx-cursor: default;
    -fx-background-color: derive(red, -75%);
}

/* Primary Action Text / Links */
.text-primary-action{
    -fx-text-fill: derive(pfd-accent-one-color, 25%);
    -fx-text-background-color: derive(pfd-accent-one-color, 25%);
}

.text-primary-action:hover {
    -fx-text-fill: derive(pfd-accent-one-color, -25%);
}

/* Secondary Action Text / Links */
.text-secondary-action{
    -fx-text-fill: pfd-highlight-color;
    -fx-text-background-color: pfd-highlight-color;
}

.text-secondary-action:hover {
    -fx-text-fill: derive(pfd-highlight-color, -25%);
}

/* Tertiary Action Text / Links */
.text-tertiary-action{
    -fx-text-fill: pfd-midtone-color;
}

.text-tertiary-action:hover {
    -fx-text-fill: derive(pfd-midtone-color, -25%);
}

/* Danger Action Text / Links */
.text-danger-action{
    -fx-text-fill: derive(red, -25%);
}

.text-danger-action:hover {
    -fx-text-fill: derive(red, -50%);
}

